APScheduler==3.6.0
boto3==1.9.132
botocore==1.12.132
Click==7.0
docutils==0.14
Flask==1.0.2
Flask-APScheduler==1.11.0
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.9.4
MarkupSafe==1.1.1
python-dateutil==2.8.0
pytz==2019.1
s3transfer==0.2.0
six==1.12.0
tzlocal==1.5.1
urllib3==1.26.5
Werkzeug==2.2.3
